

<section
class="page-content container"
*ngIf="!authService.logueado; else volverHome">
    <div class="row">
        <div class="col col-12 col-md-6 mx-auto">

            <h2 class="text-titulo mb-3">Regístrate</h2>

            <form novalidate (ngSubmit)="registrar()" [formGroup]="formularioRegistro">
                
                <div class="mb-3">
                    <label class="form-label" for="nombre">
                        Nombre <i class="bi bi-asterisk"></i>
                    </label>
                    <input type="text" class="form-control" id="nombre"
                    formControlName="nombre"
                    [class.is-invalid]="campoInvalido('nombre')"
                    [class.is-valid]="controles['nombre'].valid && (controles['nombre'].touched || enviado)">
                    
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="usuario">
                        Nombre de usuario <i class="bi bi-asterisk"></i>
                    </label>
                    <input type="text" class="form-control" id="usuario"
                    formControlName="usuario"
                    [class.is-invalid]="campoInvalido('usuario')"
                    [class.is-valid]="controles['usuario'].valid && (controles['usuario'].touched || enviado)">
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="correo">
                        Correo electrónico <i class="bi bi-asterisk"></i>
                    </label>
                    <input type="email" class="form-control" id="correo"
                    formControlName="correo"
                    [class.is-invalid]="campoInvalido('correo')"
                    [class.is-valid]="controles['correo'].valid && (controles['correo'].touched || enviado)">
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="txt-pass">
                        Contraseña <i class="bi bi-asterisk"></i>
                    </label>

                    <input type="password" class="form-control" id="pass"
                    formControlName="pass"
                    [class.is-invalid]="campoInvalido('pass')"
                    [class.is-valid]="controles['pass'].valid && (controles['pass'].touched || enviado)">
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="re-pass">
                        Repita la contraseña <i class="bi bi-asterisk"></i>
                    </label>
                    <input type="password" class="form-control" id="re-pass"
                    formControlName="re_pass"
                    [class.is-invalid]="
                        campoInvalido('re_pass') ||
                        (formularioRegistro.hasError('pass_iguales_valida') && (controles['re_pass'].touched || enviado))
                    "
                    [class.is-valid]="
                        controles['re_pass'].valid &&
                        !formularioRegistro.hasError('pass_iguales_valida') &&
                        (controles['re_pass'].touched || enviado)
                    ">
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="fecha-nacimiento">
                        Fecha de nacimiento <i class="bi bi-asterisk"></i>
                    </label>
                    <input type="date" class="form-control" id="fecha-nacimiento"
                    formControlName="fecha_nacimiento"
                    [class.is-invalid]="campoInvalido('fecha_nacimiento')"
                    [class.is-valid]="controles['fecha_nacimiento'].valid && (controles['fecha_nacimiento'].touched || enviado)">
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion"
                    formControlName="direccion">
                </div>

                <div
                    class="alert alert-danger alerta-form"
                    role="alert"
                    *ngIf="enviado && estado === 0"
                    [innerHTML]="respuesta">
                </div>

                
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-4 mb-1">
                            <button class="btn btn-primary w-100" type="submit">Enviar</button>
                        </div>
                        <div class="col-12 col-sm-4 mb-1">
                            <button class="btn btn-outline-secondary w-100" type="button" id="limpiar-form" (click)="limpiarForm()">Limpiar</button>
                        </div>
                    </div>
                </div>
            </form>

            <p class="text-center">
                <a  routerLink="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ingresar</a>
            </p>
        </div>
    </div>
</section>

<ng-template #volverHome>
    <section class="page-content container d-flex text-center">
        <div class="mx-auto">
            <p class="display-5">
                <i class="bi bi-ban"></i>
            </p>
            <p class="fs-5">
                Ya has iniciado sesión
            </p>
            <a class="btn btn-primary" routerLink="/">Ir al Home</a>
        </div>
    </section>
</ng-template>
